/*body {
    background-image: url('background.png');
    background-size: cover;
            background-position: center;
            height: 100vh;
            /* Adjust as needed *
            width: 100%;
}*/

body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-image: url('background.png');
    background-size: cover;
    /* Ensures the background image covers the entire element */
    background-repeat: no-repeat;
    /* Prevents the image from repeating */
    background-position: center;
    /* Centers the background image */
    background-attachment: fixed;
    /* Keeps the background fixed during scrolling */
}

@media (max-width: 100%) {
    body {
        background-size: contain;
        /* Adjusts the background to fit within the element on smaller screens */
        /* Allows the background to scroll with the content on smaller screens */
    }

   /*   */
}

/*nav bar*/
.gradient-navbar {
    background: linear-gradient(45deg, #66000f, #0000FF, #7EC8E3);/*000C66*/
    color: white;
}

.navbar .nav-link {
    color: white !important;
}

.navbar .nav-link:hover {
    color: #d1ecf3 !important;
}

.navbar .navbar-brand {
    color: white !important;
}

/*.navbar .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-width='2' linecap='round' linejoin='round' d='M4 7h22M4 15h22M4 23h22' /%3e%3c/svg%3e");
}*/

.navbar .btn-outline-success {
    color: white;
    border-color: white;
}

.navbar .btn-outline-success:hover {
    color: #000C66;
    background-color: white;
    border-color: white;
}

/*zoom and hover of nav bar*/
.zoom:hover {
    transform: scale(1.2);
    /* (150% zoom)*/
  }

  .zoom {
    transition: transform .2s;
    /* Animation */
    margin: 0 auto;
  }
/*text color or hover */
  .neon-text {

    color: #fff;
    text-shadow: none;
    transition: text-shadow .3s ease-in-out;
  }

  .neon-text:hover {
    text-shadow:
      0 0 5px rgb(235, 222, 227),
      0 0 10px rgb(245, 60, 131),
      0 0 20px rgb(252, 76, 143),
      0 0 40px rgb(234, 48, 119),
      0 0 80px rgb(239, 41, 97),
      0 0 90px rgb(237, 17, 101),
      0 0 100px rgb(227, 34, 34),
      0 0 150px rgb(235, 227, 4);
  }


  .neon-shadow3 {
   /* box-shadow:
      0 0 5px #40fe82,
      0 0 10px #40fe82,
      0 0 20px #40fe82,
      0 0 40px #40fe82,
      0 0 80px #40fe82;
    transition: box-shadow .3s ease-in-out;*/
    text-shadow:
      0 0 5px rgb(235, 222, 227),
      0 0 10px rgb(235, 222, 227),
      0 0 20px rgb(235, 222, 227),
      0 0 40px rgb(235, 222, 227),
      0 0 80px rgb(229, 222, 224),
      0 0 90px rgb(235, 222, 227),
      0 0 100px rgb(235, 222, 227),
      0 0 150px rgb(235, 222, 227);
   /* transition: text-shadow .3s ease-in-out;*/
  }
